<div class="eqLogic-widget cmd" style="background-color: #background_color#;#style#" data-eqLogic_id="#id#" data-cmd_id="#cmd_id#" data-version="dashboard">
    <center class="widget-name"><strong> #name#  </strong></center>
    <center><textarea class="form-control input-sm message" rows="2" style="margin-top : 5px; resize:vertical;height: 50px;width: 190px;" placeholder="Message" data-cmd_id="#cmd_id#"></textarea></center>
    <center><a class="action ui-btn ui-mini ui-btn-inline execute" >Parle</a></center>
    <script>
        $('.cmd[data-cmd_id=#cmd_id#] .execute').on('click', function() {
            jeedom.cmd.execute({id: '#cmd_id#', value: {title: '',message: $('.cmd[data-cmd_id=#cmd_id#] .message').value()}});
        });
    </script>
</div>